In [1]:
import pandas as pd
import numpy as np

In [2]:
#array np
a=np.array([1,2,3,4])
def square(a):
    return a*a
print(square(a))

[ 1  4  9 16]

In [3]:
a=[[1,2,3],[2,3,4]]
pd.DataFrame(a,columns=['a','b','c'])

   a  b  c
0  1  2  3
1  2  3  4

In [4]:
class a:
    def add(self,a,b):
        return a+b
a=a()
print(a.add(2,3))

5

In [ ]:
# what is decorator 
# create a class with exception
# different frameworks in python
# questions on lanagchain agents how it is used 
# LLm working
# nlp vecorization?
#difference between inner and outer join
# diff between primary key and unique
# different keys like primary and foreign