In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv("data.csv")
data.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05,USNS Raymond\nFPO AE 09386

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Avg. Area Income              5000 non-null   float64
 1   Avg. Area House Age           5000 non-null   float64
 2   Avg. Area Number of Rooms     5000 non-null   float64
 3   Avg. Area Number of Bedrooms  5000 non-null   float64
 4   Area Population               5000 non-null   float64
 5   Price                         5000 non-null   float64
 6   Address                       5000 non-null   object
dtypes: float64(6), object(1)
memory usage: 273.6+ KB

In [4]:
data.shape

(5000, 7)

In [5]:
data=data.drop('Address',axis=1)
data

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05
...,...,...,...,...,...,...
4995,60567.944140,7.830362,6.137356,3.46,22837.361035,1.060194e+06
4996,78491.275435,6.999135,6.576763,4.02,25616.115489,1.482618e+06
4997,63390.686886,7.250591,4.805081,2.13,33266.145490,1.030730e+06
4998,68001.331235,5.534388,7.130144,5.44,42625.620156,1.198657e+06
4999,65510.581804,5.992305,6.792336,4.07,46501.283803,1.298950e+06

In [6]:
from sklearn.linear_model import LinearRegression

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
x=data.loc[:,:'Area Population']
x
y=data['Price']
y

0       1.059034e+06
1       1.505891e+06
2       1.058988e+06
3       1.260617e+06
4       6.309435e+05
            ...
4995    1.060194e+06
4996    1.482618e+06
4997    1.030730e+06
4998    1.198657e+06
4999    1.298950e+06
Name: Price, Length: 5000, dtype: float64

In [9]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=42)

In [10]:
model=LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [11]:
y_pred=model.predict(x_test)

In [12]:
model_score=model.score(x_test,y_test)
model_score

0.9179971706834602

In [13]:
model_score=model.score(x_train,y_train)
model_score

0.9179787435623722

In [14]:
from sklearn.metrics import mean_absolute_error,mean_squared_error

In [15]:
a=mean_absolute_error(y_test,y_pred)
a

80879.09723486962

In [16]:
x=mean_squared_error(y_test,y_pred)
x

10089009300.890661

In [18]:
y_prede=model.predict(x_train)

In [19]:
x=mean_squared_error(y_train,y_prede)
x

10256318867.482723

In [20]:
data.describe()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5.000000e+03
mean,68583.108984,5.977222,6.987792,3.981330,36163.516039,1.232073e+06
std,10657.991214,0.991456,1.005833,1.234137,9925.650114,3.531176e+05
min,17796.631190,2.644304,3.236194,2.000000,172.610686,1.593866e+04
25%,61480.562388,5.322283,6.299250,3.140000,29403.928702,9.975771e+05
50%,68804.286404,5.970429,7.002902,4.050000,36199.406689,1.232669e+06
75%,75783.338666,6.650808,7.665871,4.490000,42861.290769,1.471210e+06
max,107701.748378,9.519088,10.759588,6.500000,69621.713378,2.469066e+06

In [21]:
list1 = [1,3,5,4]
list2 = [2,5,6]

In [22]:
def f(x,b=[]):
   for i in range(x):
       b.append(i*i)
   print(b)

f(3,[3,2,1])

[3, 2, 1, 0, 1, 4]

In [23]:
np.array([1,1.2,'a',1+2j])

array(['1', '1.2', 'a', '(1+2j)'], dtype='<U64')

In [24]:
pd.Series([1,1.2,'a',1+2j])

0         1
1       1.2
2         a
3    (1+2j)
dtype: object

# round 2

In [2]:
# accounts
# id,open_date,city,

# transactions
# t_id,t_date,sender_id,receiver_id,amount,is_sucess
# accounts
# id,open_date,city,

# transactions
# t_id,t_date,sender_id,receiver_id,amount,is_sucess
# top 10 customers based on total amount send to othe bank customeres

# x=pd.merge(accounts,transactions,on='sender_id',how='inner')

# y=x.group_by(sender_id)['amount'].sum().sort_values(by='amount',ascending=)
# y=x.sort_values(by='amount',ascending='false')


# y[(y.is_success='True')]
# y.head(10)